DATABASE_URL=postgresql+psycopg://<db_user>:<db_password>@<db_host>:5432/<db_name>
SECRET_KEY=<strong_random_secret>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
BOT_TOKEN=<telegram_bot_token>
GOOGLE_SPREADSHEET_ID=130Dsm7eh7HkBV_VLRUOVCzxKBF0o0whLrds7ekg2c1g
GOOGLE_SHEET_NAME=Аркуш1
GOOGLE_APPLICATION_CREDENTIALS=credentials/google-sheets-service-account.json
STAFF_SYNC_HOUR=3
STAFF_SYNC_MINUTE=15
STAFF_SYNC_TIMEZONE=Europe/Kyiv